<% if user_signed_in? %>
  <div class="row">
     <div class="col-md-8">
      <%= render 'shared/micropost_form' %>
      <h3>タイムライン</h3>
      <%= render 'shared/feed' %>
    </div>
   
    <div class="col-md-4">
      <div class="user_top">
        <% if !current_user.image.blank?%>
          <img src=<%= current_user.image %> class = "icon_image_prof">
        <% else %>
            <%= image_tag 'usericon.png', class: 'icon_image_prof'%>
        <% end %>
        <h1><%= link_to(current_user.name, current_user) %></h1>
      </div>
    
      <div class="user_top">
        <h3>おすすめ</h3>
        <h2><%= link_to "すべてを見る", users_path %></h2>
      </div>
        <ul class="users">
          <%= render @users %>
        </ul>
    </div>
  </div>


<% else %>

<div class="center jumbotron">
  <h1>Welcome to nekostagram</h1>
  <% provide(:title, "ホーム") %>
  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>