<!--profileクリック先-->

<!--画像〜フォロー数まで表示-->
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if !@user.image.blank?%>
            <img src=<%= @user.image %> class = "icon_image_prof">
        <% else %>
            <%= image_tag 'usericon.png' %>
        <% end %>
        
        <%= @user.name %>
        <%= @user.email %>
        <%= @user.profile %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <!--タイムライン 投稿数を表示-->
  <div class="col-md-8">
  <%= render 'follow_form' if user_signed_in? %>
    <% if @user.microposts.any? %>
      <h3>投稿<%= @user.microposts.count %>件</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>

  <!--ダイレクトメッセージ-->
  <% if @user.id == current_user.id %>
  <% else %>
    <% if @isRoom == true %>
      <p><a href="/rooms/<%= @roomId %>">ダイレクトメッセージ</a>
    <% else %>
      <%= form_for @room do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, :value=> @user.id %>
        <% end %>
        <%= f.submit "チャットを始める" %>
      <% end %>
    <% end %>
  <% end %>
</div>