<!--タイムライン-->

<li id="micropost-<%= micropost.id %>">
  <div class="user_timeline">
    <% if !micropost.user.image.blank?%>
      <img src=<%= micropost.user.image %> class = "icon_image_feed">
    <% else %>
      <%= image_tag 'usericon.png', class: 'icon_image_feed'%>
    <% end %>
    <span class="user_timeline2"><%= link_to micropost.user.name, micropost.user %></span>
  </div>

  <div>
    <%= link_to image_tag(micropost.picture.url), micropost if micropost.picture? %>
    <span class="content_timeline"><%= micropost.content %></span>
  </div>

  <!--いいねボタン-->
  <span class="like" id="like_form_<%= micropost.id %>">
    <% if micropost.liked_by.include?(current_user) %>
      <%= render "microposts/unlike", micropost: micropost %>
    <% else %>
      <%= render "microposts/like", micropost: micropost %>
    <% end %>
  </span>
  
  <!---投稿時間-->
  <span class="timestamp">
    投稿 <%= time_ago_in_words(micropost.created_at) %>前
    <% if current_page?(current_user) %>
      <%= link_to "削除", micropost, method: :delete, data: { confirm: "削除しますか?" } %>
    <% end %>
  </span>

</li>