<!--投稿の詳細表示-->

<%= image_tag @micropost.picture.url if @micropost.picture? %>
<%= @micropost.content %>

<!--いいね欄を書く-->

<span class="like" id="like_form_<%= @micropost.id %>">
    <% if @micropost.liked_by.include?(current_user) %>
      <%= render "microposts/unlike", micropost: @micropost %>
    <% else %>
      <%= render "microposts/like", micropost: @micropost %>
    <% end %>
</span>

<!-- コメント一覧 -->

<h3>コメント</h3>
<% if @micropost.comments.any? %>
<ul>
    <% @micropost.comments.each do |comment| %>
        <li>
            <%= comment.user_name %>
            <%= comment.body %>

            <!--ログイン済みかつコメントしたユーザーと、ログイン中のユーザーが一致するか判別-->
            <% if user_signed_in? && comment.user_id == current_user.id %>
                <%= link_to '[del]', 
                    micropost_comment_path(@micropost, comment), 
                    method: :delete, 
                    class: 'command',
                    data: {confirm: 'sure?'} %>
        </li>
        <% end %>
    <% end %>
</ul>
<% end %>


<!-- コメント投稿 -->

<%= form_for ([@micropost, @micropost.comments.build]) do |f| %>
<p>
    <%= f.text_field :body %>
</p>
<p>
    <%= f.submit %>
</p>
<% end %>
